/*에스코어 폰트*/
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*배너 시작*/
.GILbanner {
    width: 100%;
    height: 300px;
    background-image: url('../../images/main/main2.jpg'); /* 이미지 경로 */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    text-align: center;
}

.GILBantext {
    font-family: 'S-CoreDream-3Light';
    font-weight: 300;
    font-size: 2.5rem;
    margin-top: 5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.GILBansubtext {
    font-size: 20px;
    margin-top: 0.3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.GILBanbtn {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    padding: 20px;
    margin-top: 2rem;
}

.GILBanbtn li {
    flex: 1; /* 동일한 크기 유지 */
    width: 200px; /* 최대 너비 설정 (선택) */
    list-style: none;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.GILBanbtn li:hover {
    background-color: #8a1812;
    font-weight: bold;
    color: white;
}

/* 기본 hover 효과 */
.GILBanbtn li:hover{
    background-color: #8a1812;
    font-weight: bold;
    color: white;
}

/* active 상태에 hover와 같은 스타일 추가 */
.GILBanbtn li.active {
    background-color: #8a1812;
    font-weight: bold;
    color: white;
}
/*배너 끝*/


/*개인정보 수정 비밀번호 입력란 시작*/
.GMyMbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 4rem auto;
    margin-bottom: 6rem;
}

.GMyMbox .GMyMaintext {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.GMyMbox .GMyMSubtext {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}

/* 비밀번호 입력란 박스 중앙 정렬 */
.GMyMpwdbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

.GMyMpwdbox ul {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.GMyMpwdbox li {
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
}

/* 비밀번호 입력 필드 스타일 */
.GMyMpwdbox input {
    width: auto;
    padding: 0.4rem 0.8rem;
    border: 1px solid #ccc;
    text-align: left;
}

.GMyMCombtn{
    padding: 0.6rem 1rem;
    border: none;
    cursor: pointer;
    background-color: #2e2e2e;
    color: white;
    margin-top: 2rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.GMyMCombtn:hover{
    background-color: #595959;
}
/*info 스타일 끝*/

/*=======================================================*/

/*infoupdate 스타일 시작*/
/* 개인정보 수정 */
.GMyMupdbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 4rem;
}

/* 타이틀 */
.GMyMtext {
    font-size: 1.2rem;
    text-align: left;
    width: 60%;
    margin-bottom: 1rem;
    padding-left: 1rem;
    margin-top: 5rem;
}

/* 테이블 스타일 */
.GMyMinfotable {
    width: 60%;
    border-collapse: collapse;
}

.GMyMinfotable td {
    padding: 1rem;
    text-align: left;
    vertical-align: middle;
}

.GMyMinfotable tr {
    border-bottom: 1px solid #ddd;
}

.GMyMinfotable tr:first-child{
    border-top: 2px solid #a7a7a7;
}


.GMyMinfotable tr:last-child {
    border-bottom: 2px solid #a7a7a7;
}


/* 휴대폰번호 입력 */
.GMYMinputwraptell {
    display: flex;
    align-items: center;
    width: 100%;
}

.GMYMinputwraptell input {
    width: 100%;
    padding: 0.4rem;
    border: 1px solid #ccc;
}

.GMYMinputwraptell input::placeholder {
    color: #ccc;
    opacity: 1;
}

/* 번호 인증 버튼 */
.GMYMphonebtn {
    white-space: nowrap;
    padding: 0.7rem 1rem;
    border: none;
    background-color: #8a1812;
    color: white;
    border-radius: 5px;
    margin-left: 0.3rem;
    transition: background-color 0.3s;
}

.GMYMphonebtn:hover {
    background-color: #d3ae36;
}

/* 비밀번호 변경 스타일 */
.GMYMpwdcell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.GMYMpwdcell p{
    white-space: nowrap;
}

.GMYMinputwrap {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.GMYMinputwrap input {
    width: 500px;
    padding: 0.4rem;
    border: 1px solid #ccc;
}

/* 에러 메시지 */
.GMYMpwdcell small {
    opacity: 0; /* js용 숨김!!!!!!!!!!!!!!! */
    font-size: 0.8rem;
    color: #8a1812;
    white-space: nowrap;
    padding-top: 0.4rem;
    padding-left: 0.2rem;
}

/* 생년월일 */
.GMYMbirth {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    min-width: 400px;
}

.GMYMbirth select {
    padding: 0.1rem 1rem;
    border: 1px solid #ccc;
}

/* 성별 */
.GMYMgender {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: nowrap;
    min-width: 300px;
}

.GMYMgender input { margin-right: 6px; }

/* 버튼 스타일 */
.GMyMdelbox {
    width: 60%;
    text-align: right;
}

.GMyMbtns{
    display: flex;
    margin-top: 1.5rem;
    gap: 0.6rem;
}

.GMyMdelbtn {
    background-color: #a7a7a7;
    color: white;
    border: none;
    padding: 0.4rem 0.5rem;
    border-radius: 5px;
    margin-top: 0.3rem;
    font-size: 0.8rem;
    cursor: pointer;
    margin-right: 1rem;
}

.GMyMdelbtn:hover{
    background-color: #595959;
}

.GMyMrebtn {
    background-color: #a7a7a7;
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.GMyMrebtn:hover{
    background-color: #595959;
}

.GMyMsubtn {
    background-color: #8a1812;
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.GMyMsubtn:hover {
    background-color: #d3ae36;
}