/*에스코어 폰트*/
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*배너 시작*/
.GCNbanner {
    width: 100%;
    height: 300px;
    background-image: url('../../images/main/main2.jpg'); /* 이미지 경로 */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    text-align: center;
}

.GCNBantext {
    font-family: 'S-CoreDream-3Light';
    font-weight: 300;
    font-size: 2.5rem;
    margin-top: 5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.GCNBansubtext {
    font-size: 20px;
    margin-top: 0.3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.GCNBanbtn {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    padding: 20px;
    margin-top: 2rem;
}

.GCNBanbtn li {
    flex: 1; /* 동일한 크기 유지 */
    width: 200px; /* 최대 너비 설정 (선택) */
    list-style: none;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.GCNBanbtn #notice {
    background-color: #8a1812;
    font-weight: bold;
    color: white;
}

.GCNBanbtn li:hover {
    background-color: #8a1812;
    font-weight: bold;
    color: white;
}
/*배너 끝*/

/*=================================================*/

/*공지사항 table 시작*/
.GCNboard {
    position: relative;
    width: 70%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.GCNtext {
    font-size: 1.2rem;
    text-align: left;
    width: 100%;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.GCNboard table {
    width: 100%;
    border-collapse: collapse;
}

.GCNboard td a {
    display: inline-block;
    padding: 0.4rem 0;
    cursor: pointer;
}

.GCNboard th, .GCNboard td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
    padding: 10px;
    text-align: center;
}

.GCNboard th {
    background-color: #f4f4f4;
    border-top: 2px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
}

.GCNboard tbody tr:last-child td {
    border-bottom: 2px solid #a7a7a7; /* 두께 증가 */
}

/*테이블 너비 설정*/
/* 각 열의 너비 설정 (비율) */
.GCNboard th:nth-child(1), .GCNboard td:nth-child(1) {
    width: 10%; /* No. 열 */
}

.GCNboard th:nth-child(2), .GCNboard td:nth-child(2) {
    width: 40%; /* 제목 열 */
}

.GCNboard th:nth-child(3), .GCNboard td:nth-child(3) {
    width: 20%; /* 작성일 열 */
}

.GCNboard th:nth-child(4), .GCNboard td:nth-child(4) {
    width: 20%; /* 비고 열 */
}
.GCNboard tr td:nth-child(1) .btn {
    opacity: 1;
    padding: 0.3rem 0.7rem;
    background-color: #b71910;
    border-radius: 2rem;
    font-size: 0.8rem;
    font-weight: 600;
}

/* 두 번째 열인 제목 열은 왼쪽 정렬 */
.GCNboard td:nth-child(2) {
    text-align: left; /* 제목 열 */
    padding-left: 4rem;

}

.GCNboard button {
    padding: 7px 10px;
    border: none;
    cursor: pointer;
}

.GCNdelbtn {
    background-color: #a7a7a7;
    color: white;
    border-radius: 5px;
}

.GCNeditbtn {
    background-color: #2e2e2e;
    color: white;
    border-radius: 5px;
}

/*페이지네이션*/

.GCNpagination {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center; /* 세로 정렬 */
    gap: 5px;
}

.GCNpagination a {
    padding: 4px 10px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #a7a7a7;
    display: inline-block; /* 인라인 블록 요소로 정렬 */
    line-height: 1.5; /* 세로 중앙 정렬 */
}

#pageNumbers {
    display: flex; /* 가로 정렬 */
    gap: 5px;
    align-items: center; /* 세로 중앙 정렬 */
}

.GCNpagination a.active {
    background-color: #a7a7a7;
    color: white;
}
/*공지사항 table 끝*/

/*=============================================*/

/*공지사항 서치바 시작*/

.GCNsearch {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 3rem;
}

.GCSearch{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

/* 셀렉트 박스 스타일 */
.GCNselect {
    padding: 0.3rem 1rem;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* 입력 필드 스타일 */
.GCNsearch input[type="text"] {
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 14px;
    width: 500px;
}

/* 버튼 스타일 */
#GCNCombtn {
    background-color: #8a1812;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    padding: 0.7rem 1.3rem;
}

.GCNCombtn:hover {
    background-color: #d3ae36;
}
/*공지사항 서치바 끝*/

/*공지사항 main css 끝*/